.capitulo
{
    margin-top: -50px;
    display: flex;
    flex-direction: row;
    font-size: 50px;
    justify-content: center;
    justify-items: center;
}

.caixa
{
    width: 40%;
    margin-left: 32.5%;
    text-align:justify
}