.capitulo
{
    margin-top: -50px;
    display: flex;
    flex-direction: row;
    font-size: 35px;
    justify-content: center;
    justify-items: center;
    font-weight: bold;
}

.caixa
{
    width: 40%;
    margin-left: 30%;
    text-align: center;
}